body {
    background-color: lightblue;
    font-family:"Courier New", Courier, monospace;
  }

img {
    border-radius: 50%;
    height: 200px;
    width: 200px
}

.center {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

 .text-container {
     margin: 20px;
     align-self: center;
 } 
